<!-- Login -->
<div data-ng-controller="loginCtrl as lctrl" class="login-content">
    <div class="lc-block" id="l-login" data-ng-class="{ 'toggled': lctrl.loginTab }" data-ng-if="lctrl.loginTab">
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
            <div class="fg-line">
                <input type="text" class="form-control" placeholder="Username" data-ng-model="lctrl.loginData.userName" enter-key="lctrl.login()">
            </div>
        </div>
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
            <div class="fg-line">
                <input type="password" class="form-control" placeholder="Password" data-ng-model="lctrl.loginData.password" enter-key="lctrl.login()">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="" data-ng-model="lctrl.loginData.useRefreshTokens">
                <i class="input-helper"></i>
                Keep me signed in
            </label>
        </div>
        <!--<div class="col-md-6 col-sm-12 m-t-20">
            <button class="btn bgm-blue btn-icon-text waves-effect" data-ng-click="lctrl.authExternalProvider('Facebook')">
                <i class="zmdi zmdi-facebook"></i> Login with Facebook
            </button>
        </div>
        <div class="col-md-6 col-sm-12 m-t-20">
            <button class="btn bgm-red btn-icon-text waves-effect" data-ng-click="lctrl.authExternalProvider('Google')">
                <i class="zmdi zmdi-google"></i> Login with Google
            </button>
        </div>-->
        <a href="" class="btn btn-login btn-success btn-float" data-ng-click="lctrl.login()"><i class="zmdi zmdi-arrow-forward"></i></a>
        <a href="" class="btn btn-facebook-login btn-primary btn-float" data-ng-click="lctrl.authExternalProvider('Facebook')"><i class="zmdi zmdi-facebook"></i></a>
        <a href="" class="btn btn-google-login btn-danger btn-float" data-ng-click="lctrl.authExternalProvider('Google')"><i class="zmdi zmdi-google"></i></a>
        <ul class="login-navigation">
            <li data-block="#l-register" class="bgm-red" data-ng-click="lctrl.loginTab = 0; lctrl.registerTab = 1">Register</li>
            <li data-block="#l-forget-password" class="bgm-orange" data-ng-click="lctrl.loginTab = 0; lctrl.forgotTab = 1">Forgot Password?</li>
        </ul>
    </div>
    <!-- Register -->
    <div class="lc-block" id="l-register" data-ng-class="{ 'toggled': lctrl.registerTab }" data-ng-if="lctrl.registerTab">
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
            <div class="fg-line">
                <input type="text" class="form-control" placeholder="Username" data-ng-model="lctrl.registration.userName">
            </div>
        </div>
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
            <div class="fg-line">
                <input type="text" class="form-control" placeholder="Email Address" data-ng-model="lctrl.registration.email">
            </div>
        </div>
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
            <div class="fg-line">
                <input type="password" class="form-control" placeholder="Password" data-ng-model="lctrl.registration.password">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                <i class="input-helper"></i>
                Accept the license agreement
            </label>
        </div>
        <a href="" class="btn btn-login btn-danger btn-float" data-ng-click="lctrl.signUp()"><i class="zmdi zmdi-arrow-forward"></i></a>
        <ul class="login-navigation">
            <li data-block="#l-login" class="bgm-green" data-ng-click="lctrl.registerTab = 0; lctrl.loginTab = 1">Login</li>
            <li data-block="#l-forget-password" class="bgm-orange" data-ng-click="lctrl.registerTab = 0; lctrl.forgotTab = 1">Forgot Password?</li>
        </ul>
    </div>
    <!-- Forgot Password -->
    <div class="lc-block" id="l-forget-password" data-ng-class="{ 'toggled': lctrl.forgotTab }" data-ng-if="lctrl.forgotTab">
        <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat commodo sed ac lacus.</p>
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
            <div class="fg-line">
                <input type="text" class="form-control" placeholder="Email Address">
            </div>
        </div>
        <a href="" class="btn btn-login btn-warning btn-float"><i class="zmdi zmdi-arrow-forward"></i></a>
        <ul class="login-navigation">
            <li data-block="#l-login" class="bgm-green" data-ng-click="lctrl.forgotTab = 0; lctrl.loginTab = 1">Login</li>
            <li data-block="#l-register" class="bgm-red" data-ng-click="lctrl.forgotTab = 0; lctrl.registerTab = 1">Register</li>
        </ul>
    </div>
    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
        <div class="ie-warning">
            <h1 class="c-white">Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="img/browsers/chrome.png" alt="">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="img/browsers/firefox.png" alt="">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="img/browsers/opera.png" alt="">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="img/browsers/safari.png" alt="">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="img/browsers/ie.png" alt="">
                            <div>IE (New)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
</div>